import {LogLevel} from "./logging/Logging";

//Character that denotes the start of a command message
export const COMMAND_PREFIX: string = "?";

//Id of the text channel in which the bot will post messages
export const MAIN_TEXT_CHANNEL: string = "CHANGE THIS";

//Whether we should listen for commands from other channels. Must be in the same guild as MAIN_TEXT_CHANNEL
export const LISTEN_TO_OTHER_CHANNELS: boolean = true;

//Discord bot auth token
export const DISCORD_TOKEN: string = "CHANGE THIS";

//Owner id. Could be used to authorize administrative commands
export const OWNER_ID: string = "CHANGE THIS";

//Minimum log level that will be shown in the console
export const LOG_LEVEL: LogLevel = LogLevel.DEBUG;

//For messages that get auto-removed after a period of time,
//this value will determine the interval rate for timer updates
export const MESSAGE_DELETE_INTERVAL: number = 5000;

//For messages that are always at the bottom of the screen, when people are conversing, this is the time we will wait
//to remake the message. This is to make sure the bot is not too obnoxious
export const BOTTOM_MESSAGE_CONVERSATION_WAIT_DELAY: number = 10000;

//Milliseconds after which a command output message is deleted
export const COMMAND_OUTPUT_DELETE_DELAY: number = 25000;

//Google api key used for youtube search results
export const YOUTUBE_DATA_API_KEY: string = "CHANGE THIS";

//Delay after which a song selection message times out (and is removed)
export const SONG_SELECTION_DELETE_DELAY: number = 25000;

//Amount with which to change the volume when a volume reaction is used
export const VOLUME_STEP: number = 0.05;

//Amount of milliseconds after which to leave the voice channel when the queue becomes empty
//Default: 900,000ms -> 15 minutes
export const MUSIC_END_LEAVE_DELAY: number = 900000;

//Amount of times packets are send over the voice connection (to reduce packet loss)
//More info: https://github.com/discordjs/discord.js/blob/master/docs/topics/voice.md
export const VOICE_CONNECTION_PASSES: number = 3;

//Amount of milliseconds that the music embed will update at (mainly for timestamp)
export const MUSIC_EMBED_UPDATE_INTERVAL: number = 5000;

//Whether to restrict usage of the music commands to a certain role (and what the snowflake id of that role is)
export const MUSIC_REQUIRED_ROLE_TOGGLE: boolean = false;
export const MUSIC_REQUIRED_ROLE_ID: string = "CHANGE THIS IF USED";

//When and for how long to ignore a user if he/she tries to do commands they're not authorized to do
export const UNAUTHORIZED_TRIES_THRESHOLD: number = 4;
export const UNAUTHORIZED_TRIES_THRESHOLD_PERIOD: number = 60000; //in ms (default 1 min)
export const UNAUTHORIZED_TRIES_IGNORE_PERIOD: number = 120000; //in ms (default 2 min)
export const UNAUTHORIZED_TRIES_IGNORE_MESSAGE: string = "I think I'm gonna ignore you for a while...";